.about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.about-container.light {
  background-color: #f9fafb;
  color: #333;
}

.about-container.dark {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.about-header {
  text-align: center;
  font-size: 3rem;
  padding: 100px 0 0 0;
  margin: 0;
  transition: color 0.3s ease;
}

.about-header.light {
  color: #0096ff;
}

.about-header.dark {
  color: #fff;
}

.certification-section {
  margin-top: 18px;
  text-align: left;
}

.certification-badge-container {
  margin-top: 10px;
}

.content-container {
  display: flex;
  align-items: center;
  width: 60%;
}

.text-content {
  flex: 1;
  text-align: left;
  font-size: 24px;
  transition: color 0.3s ease;
  line-height: 1.6;
}

.text-content.dark {
  color: #fff;
}

.section-header{
  font-size: 24px;
}

.profile-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.certification-badge-image {
  width: 180px;
  height: 180px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}

.skill-item {
  padding: 10px 20px;
  background-color: #e0f7fa;
  color: #0096ff;
  font-size: 1rem;
  border-radius: 25px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.about-container.dark .skill-item {
  background-color: #333;
  color: #e0e0e0;
}

p {
  word-spacing: 1.5px;
  line-height: 1.5;
}