.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.navigation-container {
    display: flex; 
}

.navigation-container a {
    margin: 0 10px; 
    font-size: 20px;
}

.navigation-header {
    font-size: 38px;
}

.nav-icons {
    font-size: 25px;
    color: #0096FF;
}
