body {
    margin: 0;
}

.navbar-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.navbar-container.dark {
    background-color: #333;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.navigation-container {
    display: flex;
    gap: 10px;
}

.navigation-container a {
    margin: 0 15px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation-container a:hover {
    color: #0096FF;
}

.navigation-header {
    font-size: 32px;
    font-weight: bold;
    color: #0096FF;
    transition: color 0.3s ease;
}

body.dark .navigation-header {
    color: #fff;
}

.nav-link {
    margin: 0 15px;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-link.light {
    color: #000;
}

.nav-link.light:hover {
    color: #0096ff;
}

.nav-link.dark {
    color: #fff;
}

.nav-link.dark:hover {
    color: #ffb400;
}

.nav-icons {
    font-size: 25px;
    color: #0096FF;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-icons:hover {
    color: #ffb400;
}

body.light {
    background-color: #fff;
    color: black;
}

body.dark {
    background-color: #121212;
    color: white;
}